@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #de0202;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #de0202;
}
